body {
  background-color: lightgray;
}

footer {
  background: lightgray;
  margin-left: 25%;
  margin-right: 25%;
  border: 4px;
  border-radius: 8px;
  border-color: darkgray;
  border-style: double;
  padding: 3%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.noStyle {
  all: unset;
}

a.noStyle:hover {
  cursor: pointer;
}

.row {
  display: grid;
}

.titleCol {
  grid-row: 1;
  grid-column: 1 / span 6;
}

.col {
  grid-row: 1;
}

.font-monospace {
  font-family: monospace;
}

.main{
  background: lightgray;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  border: 4px;
  border-radius: 8px;
  border-color: darkgray;
  border-style: double;
  padding: 3%;
  padding-top: 1%;
}

.center{
  text-align: center;
}